<h1>Watermark your EBUP file</h1>
<p class="lead">
  This is small app for fun, don't expect too much from it ;)
</p>
<div ng-show="is_error_allert" class="alert alert-danger" role="alert">
  Oh snap! Try submitting later again, seems like we experiencing hight server load!
</div>
<div cg-busy="submitPromise"></div>
<div class="row">
  <div class="col-md-6 col-md-offset-3 well">
    <form name="form" class="wattermarking-submit col-md-12" ng-submit="watermark()">
      <div class="form-group">
          <label for="hash">Order hash:</label>
          <input
            id="hash"
            name="hash"
            type="text"
            class="form-control"
            placeholder="order hash (varchar, up to 32 characters)"
            ng-model="hash"
            aria-describedby="hash-addon"
            pattern="^([A-Za-z0-9]{1,32})$"
            required />
      </div>
      <div class="form-group">
          <label for="url">URL:</label>
          <input
            id="url"
            name="url"
            type="text"
            class="form-control"
            placeholder="http://publish.saxo.com/download/cd60f35"
            ng-model="url"
            aria-describedby="url-addon"
            pattern="^(http(?:s)?\:\/\/[a-zA-Z0-9]+(?:(?:\.|\-)[a-zA-Z0-9]+)+(?:\:\d+)?(?:\/[\w\-]+)*(?:\/?|\/\w+\.[a-zA-Z]{2,4}(?:\?[\w]+\=[\w\-]+)?)?(?:\&[\w]+\=[\w\-]+)*)$"
            required />
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="Watermark" />
    </form>
  </div>
</div>
